body {
    background-image: url('https://www.iwantwallpaper.co.uk/images/harry-potter-daily-prophet-newspaper-wizard-poster-mono-wallpaper-p6355-17840_image.jpg');
}

.news {
    width: 130px
}

.news-scroll a {
    text-decoration: none
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: rgb(136, 96, 48);
    border-radius: 50%;
    display: inline-block
}

.bg-ticker-logo {
    background-color: rgb(136, 96, 48);
}