body {
    background-image: url('https://www.iwantwallpaper.co.uk/images/harry-potter-daily-prophet-newspaper-wizard-poster-mono-wallpaper-p6355-17840_image.jpg');
}

.news {
    width: 18%;
}

.news-scroll {
    margin-top: 3px;
    margin-bottom: 3px;
}

.news-scroll a {
    text-decoration: none
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: rgb(136, 96, 48);
    border-radius: 50%;
    display: inline-block
}

.bg-ticker-logo {
    background-color: rgb(136, 96, 48);
}

.ui-modal__overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(69,69,69,.533333);
}