body {
    background-image: url('Background_V1.png');
    background-size: cover;
}

h1 {
    color: black;
    font-family: "Cloister Black";
    font-size: 100px;
    text-align: right;
}

a {
    text-decoration: none;
}

.news {
    width: 18%;
}

.news-scroll {
    margin-top: 3px; 
    margin-bottom: 3px;
}



.news-scroll a {
    color: black;
    font-family: "Cloister Black";
    font-size: 30px;
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: rgb(136, 96, 48);
    border-radius: 50%;
    display: inline-block
}

.ui-modal__overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(69,69,69,.533333);
}

.fltr__dropdown-divider {
    border-bottom: rgb(120, 120, 120) 1px dotted;
        border-bottom-color: rgb(120, 120, 120);
    width: 100%;
}

#sliderAmount {
    border:0;
    width: 10%;
   /* color:#977247; */
    font-weight: bold;
}

.btn-sport {
    background-image: url('Sport.png');
    background-size: cover;
    width: 140px;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.btn-spell {
    background-image: url('New\ Spells.png');
    background-size: cover;
    width: 140px;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.btn-muggle {
    background-image: url('Muggle\ Area.png');
    background-size: cover;
    width: 140px;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.btn-politic {
    background-image: url('Politics.png');
    background-size: cover;
    width: 140px;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.btn-hogwarts {
    background-image: url('Hogwarts.png');
    background-size: cover;
    width: 140px;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.btn-auror {
    background-image: url('Aurors.png');
    background-size: cover;
    width: 140px;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.btn-options {
    background-image: url('More.png');
    background-size: cover;
    width: 140px;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.btn-forward {
    background-image: url('Forward\ Button.png');
    background-size: cover;
    width: 130px;
    height: 10%;
    padding-top: 15px;
    padding-bottom: 50px;
}

.btn-backward {
    background-image: url('Backward\ Button.png');
    background-size: cover;
    width: 125px;
    height: 10%;
    padding-top: 15px;
    padding-bottom: 50px;
}

.filter-default {
    filter: brightness(1);
}

.filter-on {
    filter: brightness(1.3)
}

.filter-off {
    filter: brightness(0.5);
}